################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HaversineGenerator/.vs
/HaversineGenerator/HaversineGenerator/bin/Debug/net6.0
/HaversineGenerator/HaversineGenerator/obj
/HaversineGenerator/HaversineLoader/bin/Debug/net6.0
/HaversineGenerator/HaversineLoader/obj
